[submodule "theme"]
	path = theme
	url = https://github.com/bsmith89/blog-theme
[submodule "plugins/pandoc_reader"]
	path = plugins/pandoc_reader
	url = git@github.com:bsmith89/pelican-pandoc-reader.git
